body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: url("malatya2.jpg") no-repeat center / cover;
}

.BAŞLIK{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 95px;
    line-height: 100px;
    z-index: 100;
}
.LOGOTASARIM p{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.Menü .icon{
    color: #fff;   
        position: fixed;
        top: 25px;
        left: 170px;
}
.Menü ul{    
    display: flex;
}
.Menü ul li{    
    list-style-type: none;
}
.Menü ul li .link{          
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
    margin: 0 25px;   
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.Ana
{
    width: 375px;
    height: 450px;
    background: red;
    overflow: hidden;
    background: linear-gradient(to bottom, #efb37b, #e5c6aa, #efb37b);
    border-radius: 50px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.Giris{
position: relative;
width: 100%;
height: 100%;
}
label{
    color: white;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
width: 65%;
height: 20px;
background: #e0dede;
justify-content: center;
display: flex;
margin: 20px auto;
padding: 10px;
border: none;
outline: none;
border-radius: 30px;
}
button{    
    width: 38%;
    height: 40px;
    margin: -40px;
    margin-left: 45px;
    justify-content: center; 
    color: white;
    background: #cf7d39;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
.input-box  .icon{
    position: absolute;
    right: 32px;
    font-size: 1.1em;
    color: #162938;
    line-height: 45px;
}
